body, h2, h3, p {
    background-color: #eef1f7
}

.map {
    border: medium solid #999;
    margin: 10px auto;
}

.chart {
    background-color: rgba(128,128,128,.2);
    border: medium solid #999;
    margin: 10px auto;
}

.state {
    stroke: #000;
    stroke-width: .5px;
    stroke-linecap: round;
}

.chartTitle {
    font-size: 1.75em;
    font-weight: bold;
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path, .axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 0.8em;
    fill: #999;
}

.dropdown {
    position: absolute;
    top: 30px;
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 15; 
    font-size: 1em;
    font-weight: bold;
    padding: 3px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}

.infolabel {
    position: absolute;
    height: 50px;
    min-width: 50px;
    color: #fff;
    background-color: #3e7cf0;
    border: solid thin #fff;
    padding: 10px 10px;
    z-index: 10;
    text-align: center;
}

.infolabel h1 {
    margin: 0 10px 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}

.titleContainer {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.contentContainer {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.mapDropdownContainer, .chartContainer {
    flex: 1;
    text-align: center; 
    position: relative;
}

.description, .sources, .background {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.descriptionContainer, .sourceContainer, .backgroundContainer {
    display: inline-block;
    justify-content: space-around; 
    width: 90%; 
    margin-top: 20px;
    padding: 0 20px;
}

.zoom-button {
    position: relative;
    top: 175px;
    left: -605px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    padding: 3px;
    z-index: 100;
  }
  
  .zoom-button + .zoom-button {
    top: 175px;
    left: -600px;
  }
